.infor_basic {
  margin: 15px 100px 0px 15px;
  background-color: white;
}
.title-content {
  padding: 30px;
}
.valueInfor {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form_inp {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}
.form_inp .title_inp {
  width: 200px;
}
.input-Value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-Value .showImg {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input-Value label {
  margin-bottom: 10px;
}
.input-Value button {
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  border: dotted 0.5px gray;
  transition: 0.4s all;
}
.input-Value button:hover {
  background-color: #ee4d2d2c;
  border: dotted 0.5px #ee4d2d;
}
.input-Value button btn-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.input-Value button p {
  margin-bottom: 10px;
  height: 10px;
  width: 90%;
  font-size: 12px;
  color: #ee4d2d;
}
.input-Value button p span {
  color: #ee4d2d;
}

.input-Value .list-img {
  display: flex;
  justify-content: flex-start;
  padding-right: 10px;
  cursor: all-scroll;
}
.input-Value .list-img .imgItem {
  position: relative;
}
.input-Value .list-img .imgItem .titleImg {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 23px;
  background-color: #979292d5;
  width: 95%;
  color: white;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  font-size: 13px;
  justify-content: center;
}
.input-Value .list-img .imgItem .titleImg span {
  color: #ee4d2d;
}
.relative {
  position: relative;
}
.imgItem:hover .img-action {
  display: flex;
}
.img-action {
  display: none;
  justify-content: space-around;
  cursor: pointer;
  position: absolute;
  background-color: #979292d5;
  width: 95%;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
}
.img-action::before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: rgb(51, 50, 50);
  position: absolute;
}
